@{
    string sortIconClassName = string.Empty;
}
<th>
    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
                        &sortBy=@ViewBag.ColumnName&sortOrder=@ViewBag.NextOrder">
        @ViewBag.DisplayName
        @{
            if (@ViewBag.ColumnName == @ViewBag.CurrentSortBy)
            {
                sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
                <i class="@sortIconClassName"></i>
            }
        }
    </a>
</th>

@{
    #region

    //<a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@ViewBag.NextOrder">
    //    Person Name
    //    @{
    //        sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //        <i class="@sortIconClassName"></i>
    //    }
    //</a>
    //                </th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.Email)&sortOrder=@ViewBag.NextOrder">
    //        Email
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.DateOfBirth)&sortOrder=@ViewBag.NextOrder">
    //        Date of birth
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.Age)&sortOrder=@ViewBag.NextOrder">
    //        Age
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.Gender)&sortOrder=@ViewBag.NextOrder">
    //        Gender
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.Country)&sortOrder=@ViewBag.NextOrder">
    //        Country
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.Address)&sortOrder=@ViewBag.NextOrder">
    //        Address
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    //<th>
    //    <a href="~/persons/index?searchBy=@ViewBag.CurrentSearchBy&searchValue=@ViewBag.CurrentSearhValue
    //                        &sortBy=@nameof(PersonResponse.ReciveNewsLetters)&sortOrder=@ViewBag.NextOrder">
    //        Receive news letter
    //        @{
    //            sortIconClassName = @ViewBag.CurrentSortOrder == SortedOrderOptions.ASC ? "fa-solid fa-sort-up" : "fa-solid fa-sort-down";
    //            <i class="@sortIconClassName"></i>
    //        }
    //    </a>
    //</th>
    #endregion
}
