@model StockTrade

<!DOCTYPE html>
<html>
<head>
    <title>Stock App</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom">
                <h1>Stock App</h1>
            </div>
            <a asp-controller="Trade" asp-action="Orders">View Orders detail</a><br />
            <a asp-controller="Trade" asp-action="OrdersPDF">View Orders PDF</a><br />
            <form method="post">
                <div class="box trading-panel">

                    <div class="flex trading-panel-flex">
                        <div id="stock-price-panel">

                            <div class="stock">
                                <h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
                                <h2 class="stock-price"><small class="text-grey">$</small> <span class="price">@Model.Price.ToString("N")</span></h2>
                            </div>
                        </div>

                        <div id="new-order-panel">

                            <div class="flex flex-direction-vertical">
                                <h3 class="text-grey mb">New Order</h3>

                                <label asp-for="Quantity" class="mt">Quantity:</label>
                                <div class="w-25">
                                    <input asp-for="Quantity" class="form-input mb" placeholder="Quantity" autofocus="autofocus" />
                                </div>
                            </div>

                            <div class="button-panel">

                                <button type="submit" asp-controller="trade" asp-action="sell-order" class="button button-red-back trading-button sell-button">
                                    <i class="fa-solid fa-arrow-down"></i>
                                    <span>Sell</span>
                                </button>

                                <button type="submit" asp-controller="trade" asp-action="buy-order" class="button button-green-back trading-button buy-button">
                                    <i class="fa-solid fa-arrow-up"></i>
                                    <span>Buy</span>
                                </button>

                                @if (ViewBag.Errors != null)
                                {
                                    <div class="text-red mt">
                                        <ul>
                                            @foreach (string error in ViewBag.Errors)
                                            {
                                                <li class="ml">@error</li>
                                            }
                                        </ul>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="StockSymbol" />
                <input type="hidden" asp-for="StockName" />
                <input type="hidden" asp-for="Price" />
                <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />
            </form>
        </div>
    </div>

    @section Scripts {
        @* import the FinnhubScript.js file to update the price *@
        <script src="~/js/FinnhubScript.js">
        </script>
    }
</body>
</html>






